body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background: #f5f6fa;
    margin: 0;
}

.container {
    width: 70%;
    margin: 20px auto 20px 300px;
    padding: 20px;
    border-radius: 8px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 100px;
    margin-left: 320px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

label {
    font-weight: 600;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    height: 120px;
}

.btn-row {
    text-align: right;
    margin-top: 20px;
}

.btn {
    background: #704784;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.cancel {
    background: #fff;
    color: black;
    margin-right: 10px;
}

.select-box {
    position: relative;
    width: 100%;
}

.select-btn {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.select-btn span {
    font-size: 14px;
    color: #333;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
}

.options label {
    display: block;
    cursor: pointer;
    padding: 5px;
}

.options label input {
    width: 20px;
}

.options label:hover {
    background: #f0f0f0;
}