body {
    font-family: Arial;
    background: #f5f6fa;
    display: flex;
    flex-direction: column;
}

.container {
    width: 70%;
    margin: 20px auto 20px 300px;
    padding: 20px;
    border-radius: 8px;
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin-top: 80px;
    margin-left: 310px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

label {
    font-weight: 600;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

textarea {
    height: 120px;
}

.btn-row {
    text-align: right;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background: #704784;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.cancel {
    background: #fff;
    color: black;
    margin-right: 10px;
}