* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #cfe9ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN CONTAINER */
.container {
    width: 100%;
    max-width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* LEFT ILLUSTRATION */
.illustration img {
    width: 500px;
}

/* LOGIN CARD */
.login-card {
    width: 430px;
    background: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.1);
}

.login-card h1 {
    font-size: 32px;
    color: #3b2c74;
    margin-bottom: 10px;
}

.subtitle {
    color: gray;
    font-size: 14px;
    margin-bottom: 30px;
}

/* INPUTS */
.input-group {
    width: 100%;
    background: #fff;
    border: 1.5px solid #d8d8d8;
    padding: 12px 15px;
    margin-bottom: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.input-group .icon {
    font-size: 18px;
    margin-right: 10px;
}

.input-group input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    background: none;
}

/* ROW WITH REMEMBER + FORGOT */
.small-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 25px;
}

.small-row label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.forgot {
    color: gray;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #3b2c74;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    opacity: 0.8;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .illustration img {
        width: 300px;
        margin-bottom: 30px;
    }
}
