* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: rgb(254, 250, 250);
}

.header {
    width: 100%;
    padding-left: 200px;
    background-color: #c8bee6;
    color: #290763;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    gap: 400px;
    position: fixed;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #c8bee6;
    color: #290763;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 100;
}

.sidebar h2 {
    margin-left: 25px;
    font-size: 22px;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    padding: 12px 25px;
    text-decoration: none;
    color: #290763;
    font-size: 16px;
}

.sidebar a:hover {
    background: #bfb5dd;
}

.sidebar a i {
    margin-right: 5px;
}

/* Main */
.right-side a {
    color: #290763;
    text-decoration: none;
}

.main {
    flex: 1;
    padding: 40px;
    margin-left: 250px;
}

.main h1 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #0b2f52;
}

.top-boxes {
    display: flex;
    gap: 20px;
    margin-top: 8vh;
}

.box {
    background: linear-gradient(135deg, #eef1f7, #f5f9fd);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.box h3 {
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 12px;
}

.box h1 {
    font-size: 30px;
    color: #0b2f52;
}

.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.chart-box {
    background: #eef1f7;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}