* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eef1f7;
}

.header {
    width: 100%;
    padding-left: 200px;
    background-color: #c8bee6;
    color: 170415;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    gap: 400px;
    position: fixed;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #c8bee6;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 100;
}

.sidebar h2 {
    margin-left: 25px;
    font-size: 22px;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    padding: 12px 25px;
    text-decoration: none;
    color: #170415;
    font-size: 16px;
}

.sidebar a:hover {
    background: #bfb5dd;
}

.sidebar a i {
    margin-right: 5px;
}

/* Main */
.right-side a {
    color: #170415;
    text-decoration: none;
}

.main {
    margin-left: 250px;
    padding: 20px;
}

/* Top cards */
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    margin-top: 70px;
}

.card {
    flex: 1;
    padding: 25px;
    color: #fff;
    border-radius: 6px;
}

.blue {
    background: #100075;
}

.green {
    background: #418506;
}

.red {
    background: #900303;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.card .value {
    font-size: 34px;
    font-weight: bold;
}

.row {
    display: flex;
    gap: 20px;
}

.chart-box, .notif-box {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

.notif-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}