.calculator {
    padding-top: 13vh;
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100vh;
    background-color: #fff;
}

.left {
    height: 100%;
    width: 20vh;
    color: #ddd;
    margin-bottom: #bbb;
    margin-right: #bbb;
}

.left h3 {
    margin-bottom: #bbb;
}

.left, .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.middle {
    height: 100%;
    width: 80vh;
    color: #fff;
}