.container {
    margin-top: 10vh;
    font-family: Arial, sans-serif;
    background: #f8f8fb;
    display: flex;
    flex-direction: column;
}

/* COMMUNITY HEADER */
.community-header {
    width: 100%;
    padding: 20px 0 10px 0;
    background-color: #ecebf9;
    position: fixed;
    display: flex;
}

.community-header h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 40px;
    color: #222;
    width: 265px;
}

.community-header .title-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 300px;
}

.community-header .hashtag {
    font-size: 20px;
    font-weight: 500;
    color: #444;
}

.community-header .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.community-header .search-tag {
    font-size: 15px;
    color: #666;
    cursor: pointer;
    padding: 10px 13px;
    border-radius: 20px;
    transition: 0.2s;
}

.community-header .search-tag i {
    margin-right: 10px;
}

.community-header .search-tag:hover {
    background: #f0f0f7;
}

.community-header .create-post {
    background: #f8f8fb;
    color: black;
    border: 1px solid black;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.community-header .create-post:hover {
    background: #eae6ff;
}

/* SIDEBAR */
.sidebar {
    width: 265px;
    background: #ecebf9;
    height: 91vh;
    padding: 20px;
    position: fixed;
    margin-top: 73px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 12px 10px;
    cursor: pointer;
    border-radius: 8px;
    color: #555;
}

.sidebar li i {
    padding-right: 8px;
}

.sidebar li.active,
.sidebar li:hover {
    background: #d7d0fa;
    color: #4a37d6;
}

/* MAIN */
.main {
    margin-left: 260px;
    padding: 25px 40px;
    width: 80%;
    margin-top: 80px;
}

/* POSTS */
.post-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 1px solid #eee;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-image {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.username {
    font-weight: bold;
    margin-right: 10px;
}

.time {
    color: #777;
    font-size: 13px;
}

.post-actions button {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #444;
}
