body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ecebf9;
}

.container {
    display: flex;
    margin-top: 10vh;
}

/* MAIN CONTENT */
.content {
    flex: 1;
    padding: 30px;
    margin-left: 20px;
    min-width: 900px;
}

.title {
    margin: 0 0 20px;
}

.input-block label {
    font-size: 14px;
}

.input-block input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

/* More Settings */
.more-settings-header {
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-bottom: 10px;
}

#arrow {
    transition: 0.3s;
}

.attach-row {
    margin-top: 8px;
}

.attach-link {
    color: #5a54e8;
    font-size: 14px;
    text-decoration: none;
}

.more-settings-content {
    margin-top: 10px;
    padding: 15px;
    background: #f4f3fd;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: none;
    margin-bottom: 20px;
}

.settings-section {
    margin-bottom: 15px;
}

.settings-section h4 {
    margin: 5px 0;
}

.settings-section label {
    margin-right: 20px;
}

.description {
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
}

/* Routine Box */
.routine-box {
    background: #f4f3fd;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.routine-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.estimate {
    font-weight: normal;
    opacity: .6;
}

.exercise-card {
    display: flex;
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

.exercise-card img {
    width: 180px;
    height: 150px;
    object-fit: contain;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.exercise-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.set-row {
    display: grid;
    grid-template-columns: 50px 120px 120px 120px 120px;
    gap: 10px;
    margin-top: 5px;
}

.set-row div {
    margin-top: 5px;
}

.set-row input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn-row {
    text-align: right;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background: #6a3bbd;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.cancel {
    background: #fff;
    color: black;
    margin-right: 10px;
}

/* RIGHT LIBRARY */
.exercise-library {
    width: 350px;
    border-left: 1px solid #ddd;
    background: #e8e7f8;
    padding: 20px;
    overflow-y: scroll;
}

.library-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.library-header input {
    width: 100%;
    padding: 8px;
    background: url(../assets/icons/search-gray.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px;
    padding-left: 35px;
    border: 1px solid #808080;
    border-radius: 7px;
    font-size: 14px;
    margin-bottom: 10px;
}

.exercise-item {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

.exercise-item img {
    width: 70px;
    border-radius: 6px;
    margin-right: 10px;
}

.exercise-item button {
    margin-left: auto;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: none;
    background: #f8f7f7;
    font-size: 20px;
    cursor: pointer;
}

.video-thumb {
    background-color: white;
    height: 65px;
    object-fit: contain;
}