body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #ecebf9;
}

.page-container {
    display: flex;
    gap: 30px;
    margin-top: 11vh;
}

/* SIDEBAR */
.left-sidebar {
    width: 330px;
    background: #ecebf9;
    padding: 20px;
    /* height: max-content; */
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.plan-thumb {
    width: 100%;
    border-radius: 14px;
}

.small-card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -320px;
    right: -25px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.left-sidebar:hover .small-card{
    position: relative;
    top: -320px;
    right: 0px;
    opacity: 1;
}

.small-card i{
    font-size: 24px;
    color: #232b2b;
}

.small-card i.favorited {
    color: #6a3bbd;
}

.small-card i:hover {
    color: #6a3bbd;
}

.plan-title {
    margin-top: 15px;
    font-size: 22px;
}

.plan-meta {
    margin: 10px 0;
    display: flex;
    gap: 15px;
    font-size: 14px;
    color: #666;
}

.section-label {
    margin-top: 20px;
    color: #777;
    font-size: 14px;
}

.plan-features {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.plan-features li {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.plan-description {
    margin-top: 10px;
    color: #444;
    line-height: 1.5;
}

.save-tag {
    background: #ffd0f6;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 40px;
    margin-top: 8px;
    font-size: 12px;
}

/* RIGHT CONTENT */
.right-content {
    flex: 1;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    font-size: 32px;
    padding: 30px 10px;
}

.start-btn {
    margin-right: 40px;
    padding: 7px 10px;
    border: none;
    border-radius: 20px;
    color: #ecebf9;
    background-color: #232b2b;
}

/* WORKOUT CARDS */
.workout-card {
    background: #f4f4fa;
    padding: 15px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
    margin-right: 30px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.video-thumb {
    width: 220px;
    height: 130px;
    border-radius: 12px;
    object-fit: cover;
    background-color: white;
}

.video-info h3 {
    margin: 0 0 5px;
}

.video-tag {
    color: #6a4df5;
    display: inline-block;
    margin-bottom: 5px;
}

.video-meta {
    font-size: 14px;
    color: #666;
}

.right-icons {
    margin-left: auto;
    text-align: right;
}

.duration {
    background: #000;
    color: #fff;
    padding: 4px 7px;
    font-size: 13px;
    border-radius: 5px;
    display: inline-block;
}

.info-icon, .heart-icon {
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    color: #888;
}

/* Workout dialog box */
/* BACKDROP */
.player-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ecebf9;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

/* CONTAINER */
.player-container {
    width: 100%;
    max-width: 440px;
    padding: 20px;
    text-align: center;
}

/* TOP BAR */
.player-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.player-back {
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
}

.player-title {
    font-size: 20px;
    font-weight: 600;
    color: #3B2F5B;
}

/* GIF CARD */
.gif-card {
    background: white;
    width: 90%;
    height: 330px;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif-card img {
    max-height: 300px;
}

.time-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rep-set-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}

/* TIMER */
.timer-wrapper {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 15px 50px;
}

.progress-ring__circle {
    transition: stroke-dashoffset 1s linear;
    transform: rotate(-90deg);
    transform-origin: center;
    margin-right: 200px;
}

.timer-number {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: bold;
    color: #3B2F5B;
}

/* BUTTONS */
.player-controls {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.control-btn {
    background: white;
    border: none;
    padding: 12px 25px;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
}

.stop-btn {
    background: #3B2F5B;
    color: white;
}

.next-msg {
    margin-top: 15px;
    font-size: 18px;
    color: #7A42FF;
    font-weight: 600;
    display: none;
}
