body {
    background-color: #ecebf9;
}

.container {
    margin: 15vh 7vh 10vh 7vh;
}

.collection-filter {
    position: relative;
    display: inline-block;
}

.collection-button {
    padding: 10px 18px;
    background: #6a3bbd;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.collection-button:hover {
    background: #663eac;
}

/* Dropdown menu */
.collection-menu {
    list-style: none;
    position: absolute;
    top: 110%;
    left: 0;
    background: #ecebf9;
    width: 250px;
    padding: 10px 0;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    display: none;
    z-index: 150;
}

.collection-menu li {
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

.collection-menu li:hover {
    background: white;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; /* show to the right of parent */
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    background: #ecebf9;
    min-width: 180px;
}

.collection-menu li:hover .sub-menu {
    display: block;
}

.small-card{
    float: right;
    position: relative;
    top: -230px;
    right: -25px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.exercise-card:hover .small-card{
    position: relative;
    top: -230px;
    right: 20px;
    opacity: 1;
}

.small-card i{
    font-size: 24px;
    color: #232b2b;
}

.small-card i.favorited {
    color: #6a3bbd;
}

.small-card i:hover {
    color: #6a3bbd;
}

.plan-card {
    position: relative;
    /* width: 260px; */
    height: 330px; 
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.plan-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.plan-title {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.plan-details {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.75);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: 0.3s ease;
    font-size: 16px;
}

.plan-card:hover .plan-details {
    opacity: 0.9;
}

.plan-link {
    text-decoration: none;
    color: inherit;
}

.plan-link:hover {
    color: inherit;
}
